@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>کنکور نود و شش</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <a class="download" href="~/h6.zip">
        <img src="~/Content/downloadarrow.png" />
    </a>
</body>
</html>